{% for article in articles %}
    <article itemscope itemtype="http://schema.org/Article">
        <h3><a href="{{ path('article_view', {slug: article.slug}) }}" itemprop="name">{{ article.title }}</a></h3>
        <h6>
            <svg class="octicon octicon-calendar" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
                <path fill-rule="evenodd" d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"></path>
            </svg>
            <time datetime="{{ article.createdAt|date('Y-m-d') }}" itemprop="datePublished">
                {{ article.createdAt|date('d/m/Y') }}
            </time>
            {% if thread_comments[article.id] is defined %}
                {% set numComments = thread_comments[article.id].numComments %}
                {% if numComments > 0 %}
                    <svg class="octicon octicon-comment-discussion" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M15 1H6c-.55 0-1 .45-1 1v2H1c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h1v3l3-3h4c.55 0 1-.45 1-1V9h1l3 3V9h1c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zM9 11H4.5L3 12.5V11H1V5h4v3c0 .55.45 1 1 1h3v2zm6-3h-2v1.5L11.5 8H6V2h9v6z"></path></svg>
                    <span>{{ numComments }}comment{% if numComments > 1 %}s{% endif %}</span>
                {% endif %}
            {% endif %}
            {% include 'components/articleTags.html.twig' with {'tags': article.tags} %}
        </h6>
        {#{{ article.text|withoutMore|raw }}#}

    </article>
    <div class="clearfix"></div>
{% endfor %}
